.App {
  text-align: center;
  background-color:#165B33;
}

body{
    font-family: "Courier New", Courier, monospace;
    margin:auto;
    max-width: 50em;
    background-image: url('backgroundimage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title{
    color:white;
    font-size: 40px;
    text-shadow: 2px 2px #BB2528;
}

.wrapper{
    margin:auto;
    width:350px;
    text-align: center;
    overflow:auto;
}

#todo-list{
    font-size: 25px;
    color:white;
    float:left;
    text-align: center;
}

#completed-list{
    font-size: 25px;
    color:white;
    float:right;
    text-align: center;
}

















